{# by default, Flask looks in the templates folder #}
{% extends "base/base01.html" %}


{# Place style sheets here #}
{% block stylesheets %}
<!-- Place style sheets here -->
{% endblock %}


{# Place scripts in head here #}
{% block headScripts %}
<!-- Place head scripts here -->
{% endblock %}



{# Place body content here #}
{% block content %}
<h1>Thank You</h1>

    <p>We'll keep in touch!</p>

{% endblock %}



{# Place body scripts here #}
{% block bodyScripts %}
<!-- Place body scripts here -->
{% endblock %}