<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <!-- OPEN GRAPH META TAGS (FB, PINTEREST, GOOGLE+) -->
    <meta property="og:title"   content="{{ og_title }}" />
    <meta property="og:type"    content="{{ og_type }}" />
    <meta property="og:url"     content="{{ og_url }}" />
    <meta property="og:image"   content="{{ og_image }}" />
    <meta property="og:description" content="{{ og_description }}" />
    <meta property="og:locale"  content="{{ og_locale }}" />
    <meta property="og:site_name"   content="{{ og_site_name }}" />

    {% block stylesheets %}{% endblock %}

    {% block headScripts %}{% endblock %}

</head>
<body>


{% block content %}{% endblock %}





{% block bodyScripts %}{% endblock %}


</body>
</html>